@media screen and (max-width:500px){
      .navcontainer img {
        display: none;
      }
      .card-container {
        flex-direction: column;
      }
      .card {
        width: 100%;
      }
      .coming-soonholder{
        flex-direction: column;
        width: 100%;
      }
      .coming-soonright{
        width: 100%;
      }
      .coming-soonleft{
        width: 100%;
        margin-bottom: 10px;
      }
      .contact-details {
        flex-direction: column;
        background: blue;
        column-gap: 0px
      }
      .contact-info {
        margin-bottom: 30px;
      }
      .footer {
        flex-direction: column;
      }
      .social-media {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-between;
      }
}
