
.cashiet1{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.borderless ul{
    font-size: 20px;
    line-height: 40px;
    color:#A0AEC0;
    font-weight: 500; 
    padding-left: 20px;
}
.cashietttt h3{
    margin-bottom: 20px;
    margin-top: 40px;
}
.cashietttt p{
    font-size: 18px;
    line-height: 50px;
    color:#A0AEC0;
    font-weight: 500;
}
.picture{
    padding-top: 50px;
}
.pichure{
    padding-bottom: 50px;
}


@media screen and (max-width: 567px){
    .cashiet1{
        flex-direction: column;
        padding-top: 0px;
    }
    .borderless h3{
        padding-top: 40px;
        padding-bottom: 15px;
    }
}