.reach_out {
  width: 100%;
  display: flex;
  background: black;
}
.reachout_writeup {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reachout_writeup p {
  width: 80%;
  margin: auto;
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 80px;
  color: white;
}
.reachout_writeup button {
  width: 80%;
  padding: 20px 0px;
  border-radius: 100px;
  background: #caac05;
  text-align: center;
  margin-top: 40px;
}
.reachout_writeup a {
  color: black;
  font-size: 26px;
  font-weight: 500;
}
.reachout_pix {
  width: 50%;
}
.reachout_pix img {
  max-width: 100%;
  height: auto;
}

/* @media screen and (max-width: 567px) {
    .contact-container {
      padding: 0px 40px;
    }
    .contact-container p {
      line-height: 30px;
      margin-top: 20px;
      font-size: 18px;
    }
  
    .contact-container .h3 {
      line-height: 40px;
      font-size: 30px;
    }
    .work {
      padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 567px) and (max-width: 940px) {
    .contact-container .h3 {
      line-height: 40px;
      font-size: 30px;
    }
    .contact-container p {
      line-height: 30px;
      margin-top: 20px;
      font-size: 18px;
    }
    .contact {
      padding-top: 80px;
    }
  } */
