.borderless_cont {
  width: 100%;
  color: #e5e5e5;
  /* background: #020733; */
}
.borderless_landing_page {
  width: 100%;
  text-align: center;
  background: #020733;
}
.horizontal_line {
  margin: auto;
  padding-top: 70px;
  width: 87%;
  border-bottom: 8px solid #cee6ff;
}
.borderless_landing_page p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 50px;
  padding: 60px 0px 25px 0px;
  color: #b2d7fe;
}
.borderless_landing_page h3 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 55px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #ffffff;
}
.landing_page_pix {
  width: 100%;
}
.landing_page_pix img {
  width: 99%;
  margin: auto;
}
.project_overview_section {
  width: 100%;
  background: #020733;
}
.project_overview {
  width: 90%;
  padding-top: 70px;
  margin: auto;
  padding-bottom: 140px;
}
.project_overview h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 53px;
  line-height: 50px;
  color: #ffffff;
}
.overview_cont {
  display: flex;
  width: 100%;
  padding-top: 80px;
}
.overview {
  width: 21%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.p1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #c2c2c2;
  margin-bottom: 18px;
}
.p2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}
.p3 {
  width: 85%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  color: #ededed;
}
.horizontal_line2 {
  border-bottom: 3px solid #e5e5e5;
  padding-top: 60px;
}
.setting_the_stage {
  width: 100;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.right_image {
  display: flex;
  width: 80%;
}
.right_image img {
  max-width: 100%;
  height: auto;
}
.left {
  width: 50%;
}
.p4 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
  color: #ffffff;
  padding-bottom: 40px;
}
.p5 {
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 45px;
  color: #ededed;
}
.left ul {
  padding-left: 40px;
}
.p6 {
  padding-top: 50px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 21px;
  line-height: 16px;
  color: #ededed;
}
.questions {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.question1 {
  background: #b1d0ff;
  border-radius: 5px;
  width: 47%;
  text-align: center;
  padding: 50px 0px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  color: #020733;
}
.question2 {
  background: #ffbdae;
  border-radius: 5px;
  width: 47%;
  text-align: center;
  padding: 50px 0px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  color: #020733;
}
.problem_diagnosis {
  width: 100%;
  background: white;
  padding-bottom: 80px;
}
.problem_cont {
  padding-top: 70px;
  width: 60%;
  margin: auto;
}
.problem_cont h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  color: #020733;
  padding-bottom: 30px;
}
.p7 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #29313a;
  padding-bottom: 40px;
}
.survey_cont {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.survey {
  width: 29%;
}
.survey1 {
  background: #b1d0ff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
  color: #020733;
}
.survey2 {
  background: #ffbdae;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
  color: #020733;
}
.survey3 {
  background: #eac287;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
  color: #020733;
}
.statement {
  padding-top: 50px;
  display: flex;
}
.vertical_line {
  border-left: 6px solid #f2994a;
}
.statement_p {
  margin-left: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #020733;
}
.results_of_diagnosis {
  width: 100%;
  background: #020733;
}
.result_cont {
  width: 90%;
  margin: auto;
}
.session1 {
  width: 70%;
  padding-top: 90px;
}
.session1 h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  padding-bottom: 30px;
}
.p8 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ededed;
  padding-bottom: 30px;
}
.session2 {
  width: 100%;
}
.session2 img {
  max-width: 100%;
  height: auto;
}
.session3 {
  width: 100%;
  padding-top: 30px;
}
.session3_cont {
  width: 100%;
  display: flex;
}
.session3_image {
  width: 40%;
}
.session3_image img {
  max-width: 100%;
  height: auto;
}
.session3_writeup {
  width: 60%;
  background: #222250;
  padding: 50px 30px 0px 50px;
}
.write {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.write h6 {
  width: 30%;
  font-family: "Inter";
  font-weight: 600;
  font-size: 22px;
  line-height: 50px;
}
.write p {
  width: 60%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  color: #ededed;
}
.desigh_solution {
  width: 100%;
  background: #020733;
}
.solutions {
  padding-top: 80px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.solutions h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 50px;
}
.solutions img {
  max-width: 100%;
  height: auto;
}
.solution_pix {
  margin-bottom: 20px;
}
.validating_solution {
  width: 100%;
  background: #020733;
  padding-top: 60px;
}
.validate {
  width: 100%;
  background: #020733;
}
.validation_cont {
  width: 90%;
  margin: auto;
}
.validation1,
.validation2 {
  width: 60%;
}
.validation1 h3,
.validation2 h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 45px;
  padding-bottom: 20px;
  line-height: 40px;
}
.validation1 p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  padding-top: 20px;
}
.validation1 span {
  color: #caac05;
}
.validation_image {
  width: 90%;
  padding: 60px 0px;
  margin: auto;
}
.validation_image img {
  max-width: 100%;
  height: auto;
}
.validation2 p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  padding-top: 20px;
}
.validation2 ol {
  padding-top: 20px;
  padding-left: 30px;
}
.result_cont {
  padding-top: 60px;
}
.resultss {
  width: 100%;
  background: #020733;
}
.results_container {
  padding-top: 60px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.result1 span {
  padding-left: 30px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.result1 button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #0a05f0;
  background: #020733;
}
.arrow {
  color: #0a05f0;
  font-size: 26px;
}
.result1 p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
}
.numbers {
  text-align: center;
  padding-top: 60px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 23px;
  line-height: 40px;
  color: rgba(237, 237, 237, 0.53);
}
.learnings {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 120px;
}
.learnings h1 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 50px;
}
.learning_cont {
  padding: 60px 50px;
  border-radius: 15px;
  background: #1d2939;
  display: flex;
  justify-content: space-between;
}
.first_learnings,
.second_learnings {
  width: 38%;
}
.learninga,
.learningb {
  display: flex;
}
.learninga span,
.learningb span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.paragraph {
  padding-left: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.learning_paragraph {
  padding-bottom: 60px;
}
.reach_out {
  width: 100%;
  display: flex;
}
.reachout_writeup {
  width: 50%;
  background: white;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reachout_writeup p {
  width: 80%;
  margin: auto;
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 80px;
  color: #00164e;
}
.reachout_writeup button {
  width: 70%;
  text-align: center;
  margin-top: 40px;
}
.reachout_pix {
  width: 50%;
}
.reachout_pix img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .horizontal_line {
    border-bottom: 4px solid #cee6ff;
  }
  .borderless_landing_page p {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0px 15px 0px;
  }
  .borderless_landing_page h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .project_overview {
    width: 100%;
    padding: 30px 20px 40px 20px;
  }
  .project_overview h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
  }
  .overview_cont {
    display: flex;
    width: 100%;
    padding-top: 40px;
    flex-direction: column;
  }
  .overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .p1 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .p2 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .p3 {
    width: 100%;
    font-size: 16px;
    line-height: 35px;
  }
  .horizontal_line2 {
    padding-top: 40px;
  }
  .setting_the_stage {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .right_image {
    width: 100%;
  }
  .right_image img {
    max-width: 100%;
    height: auto;
  }
  .left {
    width: 100%;
    padding-bottom: 20px;
  }
  .p4 {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .p5 {
    font-size: 16px;
    line-height: 35px;
  }
  .left ul {
    padding-left: 10px;
  }
  .p6 {
    padding-top: 40px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
  .questions {
    flex-direction: column;
    padding-top: 40px;
  }
  .question1 {
    width: 55%;
    padding: 40px 10px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .question2 {
    width: 55%;
    padding: 50px 10px;
    font-size: 17px;
    line-height: 30px;
  }
  .problem_diagnosis {
    padding-bottom: 30px;
  }
  .problem_cont {
    padding-top: 50px;
    width: 100%;
    padding: 30px 20px;
  }
  .problem_cont h3 {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .p7 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 40px;
  }
  .br {
    display: none;
  }
  .survey_cont {
    width: 100%;
    flex-direction: column;
  }
  .survey {
    width: 50%;
  }
  .survey1,
  .survey2,
  .survey3 {
    margin-bottom: 20px;
  }
  .statement {
    padding-top: 30px;
    display: flex;
  }
  .vertical_line {
    border-left: 4px solid #f2994a;
  }
  .statement_p {
    margin-left: 20px;
    font-size: 16px;
  }
  .result_cont {
    width: 100%;
    padding: 0px 20px;
    margin: auto;
  }
  .session1 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }
  .session1 h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .p8 {
    font-size: 16px;
    line-height: 35px;
  }
  .session3_cont {
    flex-direction: column;
  }
  .session3_image {
    width: 100%;
    margin-bottom: 20px;
  }
  .session3_writeup {
    width: 100%;
    padding: 40px 20px 0px 40px;
  }
  .write {
    margin-bottom: 40px;
  }
  .write h6 {
    width: 30%;
    font-size: 19px;
    line-height: 40px;
  }
  .write p {
    font-size: 15px;
    line-height: 30px;
  }
  .solutions {
    width: 100%;
    padding: 40px 20px 0px 20px;
  }
  .solutions h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 40px;
  }
  .validating_solution {
    padding-top: 50px;
  }
  .validation_cont {
    width: 100%;
    padding: 0px 20px;
  }
  .validation1,
  .validation2 {
    width: 100%;
  }
  .validation1 h3,
  .validation2 h3 {
    font-weight: 700;
    font-size: 27px;
    padding-bottom: 15px;
    line-height: 35px;
    text-align: center;
  }
  .validation1 p {
    font-size: 16px;
    line-height: 35px;
    padding-top: 18px;
  }
  .validation_image {
    padding: 50px 0px;
  }
  .validation2 p {
    font-size: 16px;
  }
  .validation2 ol {
    padding-left: 20px;
  }
  .result_cont {
    padding-top: 30px;
  }
  .results_container {
    padding-top: 50px;
    flex-direction: column;
  }
  .result1 span {
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
  }
  .result1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .result1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
  }
  .result1 button {
    width: 40px;
    height: 40px;
  }
  .arrow {
    font-size: 20px;
  }
  .numbers {
    padding-top: 10px;
    font-size: 20px;
    line-height: 35px;
  }
  .learnings {
    width: 100%;
    padding: 60px 20px 60px 20px;
  }
  .learnings h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 30px;
  }
  .learning_cont {
    padding: 60px 50px;
    flex-direction: column;
  }
  .first_learnings,
  .second_learnings {
    width: 100%;
  }

  .learninga span,
  .learningb span {
    font-size: 25px;
    line-height: 40px;
  }
  .paragraph {
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .learning_paragraph {
    padding-bottom: 20px;
  }
  .three {
    margin-bottom: 20px;
  }
  .reachout_writeup p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
  .reachout_writeup button {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}
