.project-container {
  background: white;
  color: black;
  width: 100%;
}
.project-contact {
  max-width: 90%;
  margin: auto;
  padding-bottom: 0px;
  padding-top: 50px;
}
.project-contact h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 75px;
  line-height: 100px;
  color: #1c1b1f;
  padding: 60px 0px 90px 0px;
}

.project-row {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding: 0px 0px 200px 0px;
}
.case {
  display: flex;
  flex-direction: column;
  width: 42%;
}
.case h3 {
  font-family: "Inter";
  font-size: 35px;
  line-height: 55px;
  text-transform: capitalize;
  color: #1c1b1f;
  font-weight: 700;
  padding-top: 15px;
}
.case h2 {
  font-family: "Inter";
  font-size: 32px;
  line-height: 52px;
  text-transform: capitalize;
  color: #1c1b1f;
  font-weight: 700;
  padding-top: 15px;
}
.casee-image {
  width: 53%;
  height: 420px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
.casee-image > img {
  width: 90%;
  margin: auto;
}
.cashiet {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 42px;
  padding-top: 20px;
  color: #565555;
}
.readmore {
  width: 40%;
  padding: 15px 0px;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: #caac05;
  color: black;
  margin-top: 30px;
}
.readmore:hover {
  font-size: 16px;
  background: #b19704;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .project-contact {
    max-width: 90%;
    margin: auto;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .project-contact h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    padding: 0px 0px 40px 0px;
  }
  .project-row {
    flex-direction: column-reverse;
    padding: 0px 0px 50px 0px;
  }
  .casee-image {
    width: 100%;
    height: 100%;
  }
  .casee-image > img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .case {
    width: 100%;
  }
  .case h3,
  .case h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 25px;
  }
  .readmore {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
