@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  width: 23%;
  display: flex;
  margin-left: 20px;
  background: url("/public/images/logo1.png");
}

.logo1 {
  width: 23%;
  display: flex;
  margin-left: 20px;
  background: url("/public/images/logo.png");
}
.navbar {
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar__dark {
  background: #020733;
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar__dark ul li a {
  color: white;
}
.navbar__dark img {
  color: white;
}
.nav-links {
  display: flex;
  width: 50%;
}
.nav-links li a {
  color: black;
  padding: 0px 20px;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 400;
}
.nav-links li :hover {
  color: #caac05;
}
button {
  border: none;
  background: none;
  font-size: 20px;
}
.mobile-menu-icon {
  display: none;
}
.navbar-btn {
  margin: auto;
  padding: 15px 17px;
  background: #caac05;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}
.navbar-btn:hover {
  padding: 17px 22px;
}
.navbar-btn a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .logo {
    width: 15%;
    display: flex;
    position: absolute;
    top: 13px;
    left: 0px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    margin-left: 0px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: gray;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 18px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  .navbar {
    height: 10vh;
    line-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media screen and (max-width: 708px) and (min-width: 568px) {
  .header-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}
@media screen and (max-width: 567px) {
  .header-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: black;
  }

  .header .navbar {
    max-width: 100%;
  }
  .hamburger {
    display: block;
    color: white;
    padding-right: 40px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    width: 70%;
    height: 60vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .header-logo {
    width: 80px;
    padding-left: 20px;
  }
  .navbar-btn {
    margin: auto;
    padding: 15px 17px;
    margin-top: 0px;
  }
  .navbar {
    height: 80px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 940px) {
  .navBar {
    margin: auto;
    width: 85%;
  }
} */

/* 






@media only screen and (max-width: 900px) and (min-width: 481px) {
  .logo {
    display: flex;
    position: absolute;
    width: 28%;
    top: 22px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 18px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  .googlePlay {
    width: 38%;
    padding: 0px 0px 0px 20px;
  }
  .navbar {
    height: 10vh;
    line-height: 7vh;
  }
  .navbarImg {
    width: 100%;
  }
}
@media only screen and (max-width: 978px) and (min-width: 900px) {
  .navbar {
    padding: 0px 30px;
  }
  .nav-links {
    width: 80%;
  }
} */
