@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  width: 23%;
  display: flex;
  margin-left: 20px;
  /* -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white; */
}

.logo1 {
  width: 23%;
  display: flex;
  margin-left: 20px;
  /* -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white; */
}
.logo:hover,
.logo1:hover {
  width: 28%;
  /* cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce; */
}
.navbar {
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar__dark {
  background: #020733;
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar__dark ul li a {
  color: white;
}
.navbar__dark img {
  color: white;
}
.nav-links {
  display: flex;
  width: 50%;
}
.nav-links li a {
  color: black;
  padding: 0px 20px;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 400;
}
.nav-links li :hover {
  color: #caac05;
}
.nav-links-mobile {
  display: none;
}
button {
  border: none;
  background: none;
  font-size: 20px;
}
.mobile-menu-icon {
  display: none;
}
.mobile-menu-icons {
  display: none;
}
.navbar-btn {
  margin: auto;
  padding: 15px 17px;
  background: #caac05;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}
.navbar-btn:hover {
  padding: 17px 22px;
}
.navbar-btn a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .logo {
    width: 15%;
    display: flex;
    position: absolute;
    top: 13px;
    left: 0px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    margin-left: 0px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: gray;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 18px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: black;
  }
  .mobile-menu-icons {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: white;
  }
  .navbar {
    height: 10vh;
    line-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 940px) and (min-width: 480px) {
  .logo {
    width: 15%;
    display: flex;
    position: absolute;
    top: 13px;
    left: 0px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    margin-left: 0px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: gray;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 20px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  .navbar__dark .navbar {
    height: 10vh;
    line-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
