.font-link {
  font-family: "Inter", "Public Sans", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  padding-top: 80px;
  background: white;
}
.about-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about-image {
  width: 40%;
}
.about-image img {
  max-width: 100%;
  height: auto;
}
.aboutwriteup {
  width: 50%;
  /* margin: auto; */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}
.aboutwriteup h1 {
  font-size: 55px;
  padding-bottom: 40px;
  font-family: "Inter";
}
.aboutwriteup span {
  color: #caac05;
}
.aboutwriteup p {
  padding-bottom: 17px;
  font-family: "Inter";
}
.experience {
  width: 90%;
  margin: auto;
  padding-top: 120px;
}
.experience h1 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 78px;
  line-height: 80px;
  padding-bottom: 100px;
  color: #cccccc;
}
.experience1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.experience1_left {
  width: 46%;
}
.experience1_right {
  width: 42%;
}
.head {
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #252d3e;
  padding-bottom: 20px;
}
.head span {
  font-size: 20px;
  font-weight: 400;
}
.second {
  font-family: "Public Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #252d3e;
}
.experience1_right p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  color: #252d3e;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .about {
    padding-top: 40px;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .about-image {
    width: 100%;
  }
  .aboutwriteup {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  .aboutwriteup h1 {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .aboutwriteup p {
    padding-bottom: 15px;
    font-family: "Inter";
  }
  .experience {
    padding-top: 50px;
  }
  .experience h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    padding-bottom: 40px;
  }
}
