.casestudyhero{
    width: 100%;
    background-color: #366aff;
    display: flex;
    padding-top: 80px;
    /* justify-content: center; */
}
.casestudyhero img{
    width: 70%;
    margin: auto;
}
.casestudycontainer{
     background: #161925;
    color: white;
    padding-top: 60px;
}
.borderless{
    width: 80%;
    margin: auto;
    padding-bottom: 70px;
}
.borderless h2{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.borderless p{
    font-size: 20px;
    line-height: 40px;
    color:#A0AEC0;
    font-weight: 500;
}
.problem-diagnosis{
    display: flex;
    padding-top: 50px;
}
.problem-diagnosis2{
   width: 99%;
   padding-top: 50px;
}
.problem-diagnosis img{
    width: 48%;
    border-radius: 10px
}
.problem-diagnosis2 img{
    width: 100%;
    border-radius: 10px
}
.diagnosis-pix{
    margin-left: 30px;
}
.visualising{
    padding-top: 60px;
}
.borderless1{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.borderless1 h3{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}
.borderless2{
    width: 75%;
    height: 400px;
    text-align: center;
    color: #366aff;
    font-size: 42px;
    margin: auto;
    padding: 50px 0px 0px 0px;
    font-weight: 900;
    line-height: 70px;
    position: relative;
}
.borderless2 img{
    width: 100%;
    max-height: 290px;
    object-fit: contain;
}
.centered{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borderless3{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.borderless3 > button{
    width: 32%;
    height: 136px;
    background: #00125A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0px 30px;
    margin-bottom: 100px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}
.borderless4{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 90px 0px 100px 0px;
}
.vertical{
    border-left: 6px solid white;
    height: 150px;
}
.borderless4 p{
    color: #CAAC05;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 40px;
}
.borderless > h5{
    color: #CAAC05;
    padding: 40px 0px 20px 0px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;

}
.unodered-list{
    padding-top: 20px;
}
.problem-diagnosis1{
    display: flex;
    background: #00125A;
    padding: 25px 0px 10px 20px;
    color: white;
    width: 100%;
    justify-content: space-between;
}
.problem-diagnosis1 > img{
    width: 30%;
    height: 100px;
    border-radius: 50%;
    
}
.diagnosis-writeup{
    width: 65%;
    padding-left: 50px;
    padding-top: 20px;
}
.vertical-line{
  border-left: 1px solid gray;
  padding-left: 30px; 
  padding-right: 50px;  
}
.borderless5{
    display: flex;
    width: 80%;
    margin: auto;
}
.borderless5a{
    display: flex;
     width: 60%;
    padding-bottom: 30px;
}
.borderless5a > img{
    width:  85%;
    /* object-fit: cover; */
    border-radius: 10px;
}
.pic{
    margin-left: 30px;
}
.borderless6{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.borderless6a{
   width: 40%;
}
.borderless6b{
   width: 60%;
   margin-left: 70px;
}
.borderless6b > img{
        width: 100%;
}
.borderless6a h5{
    color: #CAAC05;
    padding-bottom: 30px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;

}
.borderless6a p{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    color:#A0AEC0;
}
.borderless7{
    width: 80%;
    margin: auto;
    padding: 150px 0px 0px 0px;
}
.borderless7b, .borderless7c{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}
.borderless7a h2{
    padding-bottom: 70px;
    font-size: 55px;
    font-weight: bolder;
}
.borderless7b > img{
    width: 80%;
    max-height: 600px;
    border-radius: 10px;
}

.borderless7c{
    padding-top: 80px;
}
.borderless7c > img{
    width: 90%;
    max-height: 700px;
    border-radius: 10px;
}
.end-to-end{
    padding-top: 40px;
}
.borderless8{
    padding-top: 90px;
    width: 80%;
}
.borderless8 ol, .literation33 ol{
    font-size: 20px;
    line-height: 40px;
    color:#A0AEC0;
    font-weight: 500; 
    padding-left: 20px;
}
.casestudycontainer2{
   background: #ECECEC; 
    color: black;
    padding: 60px 0px 30px 0px;
}
.literation, .literation33{
    width: 80%;
    margin: auto;
}
.literation h1, .literation33 h2{
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    text-align: left;
}
.literation p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.literation33 p{
    color:#A0AEC0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}
.literation1, .literation2, .literation3, .literation4{
    display: flex;
    padding-top: 60px;
    /* justify-content: space-between; */
}
.literation-writeup{
    width: 40%;
}
.literation-writeup1{
    width: 40%;
    padding-right: 25px;
}
.literation-writeup h4, .literation-writeup1 h4{
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
.literation-writeup p, .literation-writeup1 p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    padding: 20px 0px 0px 0px;
    color: black;
}
.literation-picture{
    width: 70%;
}
.literation1-picture{
    width: 60%;
}
.literation-picture img, .literation1-picture img{
    width: 100%;
    max-height: 560px;
    /* object-fit: contain; */
    border-radius: 10px;
}
.casestudycontainer3{
    background: #161925; 
    color: white;
    padding: 60px 0px 30px 0px;
}
.key{
    padding-bottom: 30px;
}
.literation33 h5{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 40px;
}
.literation33 h5 span{
    color: #CAAC05;
}
.literation33 a{
    text-decoration: none;
    color: #CAAC05;
}
.literation33 p span{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}
.literation33 p{
    font-weight: 400;
}
.view-prototype{
    padding-top: 50px;
}








@media screen and (max-width: 567px){
    .casestudyhero{
        /* height: 48vh; */
    }
    .casestudyhero img{
        width: 90%;
        margin: auto;
    }
    .casestudycontainer{
        background: #161925;
        color: white;
        padding-top: 60px;
    }
    .borderless{
        width: 80%;
    }
    .borderless h2, .literation h2{
        font-size: 22px;
        line-height: 40px;
    }
    .borderless p, .literation p{
       font-size: 18px;
       line-height: 40px;
    }
    .borderless1{
        flex-direction: column;
        padding-top: 0px;
    }
    .borderless1 h3{
        padding-top: 30px;
        font-size: 20px;
    }
    .borderless2{
        font-size: 32px;
        padding: 20px 0px 60px 0px;
        width: 80%;
        line-height: 40px;
        font-size: 25px;
    }
    .centered{
        top: 40%;
    }
    .borderless3{
      flex-direction: column;
        padding-top: 60px;
    }
    .borderless3 > button{
        width: 95%;
        margin-bottom: 30px;
        font-size: 17px;
    }
    .borderless4{
        width: 95%;
        padding: 50px 0px 60px 0px;
    }
    .borderless4 p{
        padding-left: 40px;
    }
    .vertical{
        height: 200px;
    }
    .rectangles{
        flex-direction: column;
        padding: 50px 0px 30px 0px;
    }
    .rectangles > img{
        width: 100%;
        max-height: 400px;
        object-fit: contain;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .rec{
        margin-left: 0px;
        margin-top: 20px;
    }
    .borderless > h5{
        font-size: 20px;
    }
    .borderless5{
        flex-direction: column;
        width: 80%;
    }
    .borderless5a{
        flex-direction: column;
        width: 100%;
    }
    .pic{
        margin-left: 0px;
        margin-top: 30px;
    }
    .borderless5a > img{
        width: 100%;
    }
    .borderless6{
        flex-direction: column;
        padding-top: 30px;
    }
    .borderless6b > img{
        margin-left: 0px;
        padding-top: 40px;
        width: 100%;
    }
    .borderless6a h5{
        color: #CAAC05;
        font-size: 25px;
        padding-bottom: 15px;
        line-height: 40px;
    }
    .borderless6a p{
        font-size: 18px;
        line-height: 30px;;
    }
    .borderless7{
        width: 80%;
        padding: 30px 0px 0px 0px;
    }  
    .borderless7c{
        padding-top: 40px;
    }
    .casestudycontainer2{
        padding-top: 40px;
    }
    .literation1{
        flex-direction: column;
        padding-top: 10px;
    }
    .literation2, .literation3, .literation4{
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .literation-writeup{
        width: 90%;
    }
    .literation-writeup h4{
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        padding-top: 20px;
    }
    .literation-writeup p{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .literation-picture{
        width: 100%;
        object-fit: contain;
        padding-top: 20px;
    }
   
   
} 

@media screen and (min-width:567px) and (max-width: 940px){
    .borderless h2{
        padding-bottom: 20px;
        font-size: 27px;
        font-weight: 700;
    }
    .borderless1{
        flex-direction: column;
        padding-top: 0px;
    }
    .borderless1 h3{
        padding-top: 30px;
        font-size: 27px;
    }
    .borderless2{
        font-size: 28px;
        padding: 20px 0px 60px 0px;
        line-height: 50px;
    }
    .centered{
        top: 35%;
    }
    .borderless3{
        flex-direction: column;
          padding-top: 60px;
      }
      .borderless3 > button{
          width: 95%;
          margin-bottom: 30px;
          font-size: 19px;
      }
      .vertical{
        height: 250px;
    }
    .rec{
        margin-left: 0px;
        margin-top: 20px;
    }
    .borderless5{
        flex-direction: column;
        width: 80%;
    }
    .borderless5a{
        flex-direction: column;
        width: 100%;
    }
    .pic{
        margin-left: 0px;
        margin-top: 30px;
    }
    .borderless5a > img{
        width: 100%;
    }
    .borderless6{
        flex-direction: column;
        padding-top: 30px;
    }
    .borderless6b > img{
        margin-left: 0px;
        padding-top: 40px;
        width: 100%;
    }
    .borderless6a h5{
        color: #CAAC05;
        font-size: 27px;
        padding-bottom: 20px;
    }
    .borderless6a p{
        font-size: 20px;
        line-height: 40px;
        color:#A0AEC0;
    }
    .borderless7{
        width: 87%;
        padding: 60px 0px 0px 0px;
    }
    .borderless7c{
        padding-top: 40px;
    }
    .literation1{
        flex-direction: column;
        padding-top: 10px;
    }
    .literation2, .literation3, .literation4{
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .literation-writeup, .literation-writeup1{
        width: 90%;
    }
    .literation-writeup h5{
        font-size: 24px;
        line-height: 30px;
        padding-top: 20px;
    }
    .literation-writeup p{
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .literation-picture{
        width: 90%;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .literation-picture img{
        width: 100%;
        max-height: 560px;
        object-fit: contain;
        border-radius: 10px;
    }
}

@media screen and (min-width:940px) and (max-width: 1400px){
    .borderless2{
        font-size: 29px;
        padding: 20px 0px 60px 0px;
        line-height: 50px;
    }
    .centered{
        top: 35%;
    }
    .borderless3 > button{
        width: 32%;
        height: 146px;
        padding: 10px 40px;
        margin-bottom: 60px;
    }
    .vertical{
        height: 150px;
    }
    .rec{
        margin-left: 0px;
        margin-top: 20px;
    }
    .borderless6b > img{
        width:  100%;
        /* object-fit: cover; */
        border-radius: 10px;
        margin-left: 35px;
    }
    .borderless6a h5{
        padding-bottom: 20px;
        font-size: 32px;
        line-height: 40px;
    }
    .borderless7{
        width: 80%;
        padding: 70px 0px 0px 0px;
    }
    .borderless7 h1{
        font-size: 49px;
        font-weight: bolder;
        padding-bottom: 40px;
    }
    
    .borderless7c{
        padding-top: 40px;
    }
    .borderless8{
        width: 85%;
    }
}








