.navbar {
  height: 110px;
  background: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  padding: 40px 0px 30px 0px;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  max-width: 1150px;
  padding: 0, 16px;
}
.header-logo {
  width: 80px;
  object-fit: contain;
}
.nav-menu {
  display: flex;
}
.nav-item {
  padding: 16px;
  font-weight: 500;
}
.navBar li {
  list-style: none;
}
.nav-item a {
  color: white;
}
.nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #caac05;
}
.nav-item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid #caac05;
}
.hamburger {
  display: none;
}
.navbar-btn {
  margin: auto;
  padding: 15px 17px;
  background: #7b6b0e;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}
.navbar-btn:hover {
  padding: 17px 22px;
}
.navbar-btn a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@media screen and (max-width: 708px) and (min-width: 568px) {
  .header-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}
@media screen and (max-width: 567px) {
  .header-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: black;
  }

  .header .navbar {
    max-width: 100%;
  }
  .hamburger {
    display: block;
    color: white;
    padding-right: 40px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    width: 70%;
    height: 60vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .header-logo {
    width: 80px;
    padding-left: 20px;
  }
  .navbar-btn {
    margin: auto;
    padding: 15px 17px;
    margin-top: 0px;
  }
  .navbar {
    height: 80px;
    /* padding: 60px 30px 50px 30px; */
  }
}

@media screen and (max-width: 1400px) and (min-width: 940px) {
  .navBar {
    margin: auto;
    width: 85%;
  }
}
