.hero {
  background: white;
  color: #010101;
  height: 84vh;
  width: 100%;
}
.contents {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.pix {
  width: 20%;
}
.pix img {
  width: 100%;
  height: 100%;
  left: 10px;
}
.contentt {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: start;
  padding: 0px 0px 0px 65px;
}
.contentt h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 86px;
  line-height: 100px;
  color: white;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 2px black;
}
.contentt h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  padding-top: 20px;
  line-height: 88px;
  color: #1c1b1f;
}

.contentt span {
  color: #caac05;
  margin-left: 30px;
  font-size: 25px;
}
.margue-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 10%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
}
.margue {
  position: absolute;
  width: 200%;
  display: flex;
  left: 0;
}
.one {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
.two {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.animate {
  width: 200%;
  animation: marquee 15s linear infinite;
  top: 50%;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .hero {
    height: 54vh;
  }
  .contents {
    flex-direction: column;
  }
  .contentt {
    height: 40vh;
    padding: 0px 0px 0px 30px;
    width: 90%;
  }
  .pix {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .pix img {
    width: 50%;
  }

  .contentt span {
    margin-left: 20px;
  }
  .contentt h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    -webkit-text-stroke: 1px black;
  }
  .contentt h2 {
    font-weight: 400;
    font-size: 38px;
    padding-top: 20px;
    line-height: 40px;
  }
  .one {
    font-size: 10px;
  }
  .two {
    font-size: 10px;
  }
}
